<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from rendered webpage</h1>
    <div>
        <form action="/page" method="post">
            <input type="text" name="username">
            <br>
            <input type="password" name="password">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>    
</body>
</html>